/*********************
    
    Project 4 Stylesheet
    Name: Doanh Chung
    Date: December 7, 2023
    Description: The style sheet for index.html

*********************/

#navigation li a:hover, footer ul li a:hover{
	color: #ff9a9a;
}

a:focus, #tabs li a:focus {
	color: #ff3838;
}

body{
    background-color: #F9F6F1;
	width: 100%;
	margin: 0%;
}

h1{
	color: #582C4D;
	padding-left: 5px;
	text-decoration: underline overline;
}

input:focus, textarea:focus{
	background-color: #EDE4D4;
	color: #A26769;
}

/*								HEADER								*/
header{
	min-height: 8vh;
}

header div img{
	object-fit: cover;
	position: relative;
	width: 100%;
	min-height: 50px;
}

header a{
	padding: 0px 10px 0px 10px;
	text-decoration: none;
}

header div{
	position: relative;
	display: inline-block;
	width: 100%;
}

header h1{
	position: absolute;
	top: 0%;
	left: 25px;
	margin: 1% 0% 0% 0%;
	letter-spacing: 8px;
	font-size: 32px;
	text-decoration: none;
	color: #fff;
}

#navigation{
	background-color: #582C4D;
	position: relative;
	left: 0px;;
	top: -4px;
	padding: 1px 0px 2px 0px;
	margin: 0px 0px 0px 0px;

	font-size: larger;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	width: auto;
	min-height: 30px;
}

#navigation li a{
	position: relative;
	top: 2%;
	color: #F0F0F0;
	border-right: #A26769 1.5px solid;
	box-shadow: #F0F0F0 1px 0px 0px;
	font-size: 150%;
}

#navigation li:last-child a{
    border: none;
	box-shadow: none;
}

/*								Container								*/
#container {
	list-style: none;
	justify-content: center;
	width: 90%;
	background-color: #D5B9B2;
    margin: auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 8px;
	padding: 10px;
}

#container p{
	margin: 0% 2% 1% 2%;
	align-self: start;
	display: flex;
}

#container img{
	max-width: 600px;
	display: flex;
	object-fit: contain;
	position: relative;
	right: 0%;
}

#intro p{
	max-width: 550px;
}

/*								Footer								*/
footer{
	position: relative;
	bottom: 0%;
	width: 100%;
}

footer ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	height: 40px;
	padding: 0%;
	margin: 0%;
	justify-content: center;
}

footer ul li{
	font-size: 70%;
	margin: 1%;
}

footer p{
	margin: 0% 0% 5% 0%;
	font-size: 70%;
	text-align: center;
	width: 100%;
}

/*								Recent Activities								*/
#content{
	width: 100%;
}

#content h1{
	margin-top: 0%;
	
}

.activity{
	max-width: 1000px;
	background-color: #EDE4D4;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	margin: auto auto 10px auto;
	display: flex;
	flex-wrap: wrap;
}

.activity h2{
	margin: 5px 0px 1px 5px;
	width: 100%;
}

.activity p{
	width: 50%;
}

.activityImages{
	width: 400px;
	height: 190px;
	position: relative;
}

.activityImages img{
	position: relative;
	bottom: 5%;
	width: 70%;
}

.activityImages img:last-child{
	top: -80px;
	left: 30%;
}

.activityDate{
	width: 100%;
	margin: 5px 0% 0% 0%;
	font-size: 13px;
}

/*								Contact Form								*/
.error, #thankYouMessage{
	color: #582C4D;
	font-weight: bold;
	font-style: italic;
}

fieldset{
	border: none;
	width: 50vw;
}

#comments{
	resize: none;
	width: 95%;
	height: 120px;
}

/*								Products								*/
#container h1{
	text-align: center;
	width: 100%;
	position: relative;
}

#container h2{
	margin: 0%;
}

.products{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	background-color: #EDE4D4;
	width: 90%;
	margin: 1%;
}

.images{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.images img{
	max-height: 150px;
	margin: 1%;
	border-radius: 10%;
}

.description{
	text-align: center;
	width: 35vw;
	margin: 2% 0% auto 2%;
	position: relative;
}

/*								Media Query								*/

@media (max-device-width:1207px) {
	.activity p{
		width: 100%;
	}

	.activityImages{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.activityImages{
		width: 100%;
		display: contents;
	}
	
	.activityImages img{
		position: relative;
		left: 25px;
		width: 40%;
		bottom: 0%;
	}
	
	.activityImages img:last-child{
		top: 0%;
		left: 0%;
	}

	#contact{
		font-size: larger;
		width: 80vw;
	}
}

@media (max-device-width:797px) {
	#navigation{
		height: 200%;
		text-align: center;
		background-color: #582C4D;
	}

	#navigation li a{
		font-size: 4vw;
	}

	#container img{
		max-width: 90%;
	}

	.images{
		width: 100%;
	}

	.activityImages img{
		position: relative;
		left: 10px;
	}

	.description{
		text-align: center;
		width: auto;
	}

	#container h1{
		font-size: 8vw;
	}

	#contactContent, #contactContent button{
		font-size: 7vw;
	}

	input:not(#agree){
		width: 75vw;
		height: 10vw;
		font-size: 6vw;
	}

	#comments{
		font-size: 5vw;
		height: 50vw;
	} 

	#agree{
		width: 6vw;
		height: 6vw;
	}

	#contactContent button{
		width: 25vw;
		height: 8vw;
	}

	#thankYouMessage{
		font-size: 3vw;
	}
} 

@media (max-device-width:425px) {
	#contactContent ul{
		padding-left: 0%;
		list-style: none;
	}

	button{
		padding: 0%;
	}
	
	header div h1{
		left: 5%;
		font-size: 7vw;
	}
}